html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul {
    padding-left: 0;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
    margin-bottom: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 16px;
    font-weight: 400;
    color: #353535;
    line-height: 26px;
}
/* ==================Navbar Part Start Here=============== */
/* ==================Bannar Part Start Here=============== */
#bannar{
    background-image: url(../images/bannar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 112px;
}
.bannar-left h1{
    font-size: 56px;
    font-weight: 700;
    color: #2c3754;
    line-height: 70px;
    word-spacing: 2px;
}
.bannar-left p{
    padding-top: 10px;
    text-align: justify;
    padding-bottom: 73px;
}
.bannar-btn{
    margin-bottom: 150px;
}
 .cmn-btn a{
    padding: 20px 30px;
    background-color: #c58bea;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
 .cmn-btn a i{
    padding-left: 14px;
    vertical-align: baseline;
}
.bannar-right{
    height: 100%;
}
.cmn-btn a:hover{
    -webkit-box-shadow: 2px 2px 23px 4px #c68beabe; 
    box-shadow: 2px 2px 23px 4px #c68beabc;
}
/* ==================About Part Start Here=============== */
#about{
    padding: 120px 0;
}
.about-left{
    height: 104%;
}
.sec-heading{
    text-align: center;
}
.sec-heading h4{
    font-size: 20px;
    font-weight: 500;
    color: #c58bea;
    text-transform: uppercase;
    line-height: 26px;
}
.sec-heading h3{
    font-size: 40px;
    font-weight: 700;
    color: #151515;
    line-height: 50px;
    padding-top: 18px;
}
.about-right .sec-heading{
    text-align: left;
    padding-right: 180px;
}
.about-right p{
    padding-top: 60px;
}
.cmn-btn.about-btn{
    margin-top: 75px;
}
/* ==================Service Part Start Here=============== */
#service{
    background-color: #e8dcf0;
    padding: 80px 0;
}
.service-item{
    margin-top: 60px;
}
.service-item:first-child .service-icon{
    background-color: black;
}
.service-icon{
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3062ed;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.service-icon i{
    font-size: 40px;
    color: #fff;
    line-height: 0;
}
.service-item-con h3{
    font-size: 26px;
    font-weight: 700;
    color: #151515;
    text-transform: capitalize;
    line-height: 26px;
    padding-top: 30px;
}
.service-item-con p{
    font-size: 15px;
    padding-top: 26px;
}
/* ==================Portfolio Part Start Here=============== */
#portfolio{
    padding-top: 100px;
}
.short-item{
    height: 300px;
}
.long-item{
    height: 450px;
}
.portfolio-item{
    display: inline-block;
    margin-top: 18px;
    width: 100%;
    background-color: #c58bea;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}










.portfolio-btn{
    padding-top: 70px;
    padding-bottom: 120px;
}
/* ==================Team Part Start Here=============== */
/* ==================Video Part Start Here=============== */
/* ==================Counter Part Start Here=============== */
/* ==================Testimonial Part Start Here=============== */
/* ==================Package Part Start Here=============== */
/* ==================Subscribe Part Start Here=============== */
#subscribe{
    margin-bottom: 120px;
}
.subscribe-main{
    display: flex;
    align-items: center;
    background-color: #c58bea;
    padding: 60px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.subscribe-con{
    width: 50%;
}
.subscribe-con h3{
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    line-height: 46px;
}
.subscribe-btn{
    width: 50%;
    text-align: right;
}
.subscribe-btn .cmn-btn a{
    background-color: #fff;
    color: #c58bea;
}
/* ==================Footer Part Start Here=============== */
#footer{
    background-color: #151618;
    padding-top: 80px;
}
.footer-nav ul li{
    display: inline-block;
    padding: 45px 40px;
}
.footer-nav ul li a{
    font-size: 22px;
    font-weight: 500;
    color: #606264;
    text-transform: capitalize;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.footer-nav ul li a:hover{
    color: #c58bea;
}
.footer-social{
    display: flex;
    justify-content: center;
    padding-bottom: 55px;
}
.footer-social-item{
    height: 50px;
    width: 50px;
    background-color: #303133;
    margin: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.footer-social-item a{
    padding: 7px;
}
.footer-social-item a i{
    color: #737375;
    font-size: 22px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.footer-social-item:hover{
    background-color: #c58bea;
    color: #fff;
}
.footer-social-item:hover a i{
    color: #fff;
}
.footer-copyright{
    padding: 20px  ;
    border-top: 2px solid #606264;
}
.footer-copyright h4{
    font-size: 16px;
    font-weight: 500;
    color: #606264;
}
.footer-copyright h4 a{
    color: #c58bea;
    font-weight: 700;
}