html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul {
    padding-left: 0;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
    margin-bottom: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 16px;
    font-weight: 400;
    color: #353535;
    line-height: 26px;
}
/* ==================Navbar Part Start Here=============== */
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 21px;
    color: black;
    font-size: 22px;
    font-weight: 500;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #c58bea;
}
.quote{
    margin-left: 25px;
}
.quote a{
    padding: 20px 30px;
    background-color: #c58bea;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.navbar{
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    padding-top: 30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
/* ==================Bannar Part Start Here=============== */
#bannar{
    background-image: url(../images/bannar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 122px;
}
.bannar-left{
    padding-top: 120px;
}
.bannar-left h1{
    font-size: 56px;
    font-weight: 700;
    color: #2c3754;
    line-height: 70px;
    word-spacing: 2px;
}
.bannar-left p{
    padding-top: 10px;
    text-align: justify;
    padding-bottom: 73px;
}
.bannar-btn{
    margin-bottom: 150px;
}
 .cmn-btn a{
    padding: 20px 30px;
    background-color: #c58bea;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
 .cmn-btn a i{
    padding-left: 14px;
    vertical-align: baseline;
}
.bannar-right{
    height: 100%;
}
.cmn-btn a:hover{
    -webkit-box-shadow: 2px 2px 23px 4px #c68beabe; 
    box-shadow: 2px 2px 23px 4px #c68beabc;
}
/* ==================About Part Start Here=============== */
#about{
    padding: 120px 0;
}
.about-left{
    height: 104%;
}
.sec-heading{
    text-align: center;
}
.sec-heading h4{
    font-size: 20px;
    font-weight: 500;
    color: #c58bea;
    text-transform: uppercase;
    line-height: 26px;
}
.sec-heading h3{
    font-size: 40px;
    font-weight: 700;
    color: #151515;
    line-height: 50px;
    padding-top: 18px;
}
.about-right .sec-heading{
    text-align: left;
    padding-right: 180px;
}
.about-right p{
    padding-top: 60px;
}
.cmn-btn.about-btn{
    margin-top: 75px;
}
/* ==================Service Part Start Here=============== */
#service{
    background-color: #e8dcf0;
    padding: 80px 0;
}
.service-item{
    margin-top: 60px;
}
.service-item-main:nth-child(1) .service-icon{
    background: linear-gradient(110deg,#265beb,#7195f8);
}
.service-item-main:nth-child(2) .service-icon{
    background: linear-gradient(110deg,#00b9a1,#92e1d7);
}
.service-item-main:nth-child(3) .service-icon{
    background: linear-gradient(110deg,#ff8439,#ffb78e);
}
.service-item-main:nth-child(4) .service-icon{
    background: linear-gradient(110deg,#fc2740,#fd7485);
}
.service-item-main:nth-child(5) .service-icon{
    background: linear-gradient(110deg,#c0c701,#f2fb3e);
}
.service-item-main:nth-child(6) .service-icon{
    background: linear-gradient(110deg,#ff39f8,#ff8bfa);
}
.service-icon{
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3062ed;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.service-icon i{
    font-size: 40px;
    color: #fff;
    line-height: 0;
}
.service-item-con h3{
    font-size: 26px;
    font-weight: 700;
    color: #151515;
    text-transform: capitalize;
    line-height: 26px;
    padding-top: 30px;
}
.service-item-con p{
    font-size: 15px;
    padding-top: 26px;
}
/* ==================Portfolio Part Start Here=============== */
#portfolio{
    padding-top: 100px;
}
#portfolio .sec-heading{
    padding-bottom: 30px;
}
.short-item{
    height: 300px;
}
.long-item{
    height: 450px;
}
.portfolio-item{
    overflow: hidden;
    display: inline-block;
    margin-top: 18px;
    width: 100%;
    background-color: #c58bea;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    position: relative;
}
.port-item-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: rgba(198, 139, 234, 0.575);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
.port-overlay-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    overflow: hidden;
}
.port-overlay-icon i{
    color: black;
    font-size: 22px;
    padding: 20px;
}
.portfolio-item:hover .port-item-overlay{
    height: 100%;
}
.portfolio-item:hover .port-overlay-icon{
    opacity: 1;
}
.port-overlay-icon:hover{
    height: 70px;
    width: 70px;
    overflow: hidden;
}
.portfolio-btn{
    padding-top: 70px;
    padding-bottom: 90px;
}
/* ==================Team Part Start Here=============== */
#team{
    background-color: #e8dcf0;
    padding: 80px 0;
}
.team-item{
    margin-top: 60px;
    overflow: hidden;
    height: 400px;
    width: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    position: relative;
}
.team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    transition: all linear 0.5s;
    background-color: rgba(19, 19, 19, 0.63);
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    opacity: 0;
}
.team-img{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.team-img-item{
    height: 120px;
    width: 120px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-img-item2{
    height: 110px;
    width: 110px;
    background-color: #ccc;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}
.team-con{
    text-align: center;
    color: #fff;
}
.team-con h3{
    font-size: 20px;
    font-weight: 700;
    padding-top: 30px;
}
.team-con h5{
    font-size: 14px;
    font-weight: 500;
    padding-top: 10px;
}
.team-social{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.team-social-item{
    margin: 0 10px;
    height: 40px;
    width: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.team-social-item a{
    line-height: 0;
    padding: 15px;
}
.team-social-item a i{
    font-size: 22px;
    color: #868586;
    line-height: 0;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.team-social-item:hover{
    background-color: #c58bea;
}
.team-social-item:hover a i{
    color: #fff;
}
.team-item:hover .team-overlay{
    height: 100%;
    opacity: 1;
}
.team-overlay-wrapper{
    position: relative;
    top: -320px;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
}
.team-item:hover .team-overlay-wrapper{
    top: 0;
}
/* ==================Video Part Start Here=============== */
#video{
    padding-top: 120px;
}
.video-main{
    height: 600px;
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
}
.video-main video{
    height: 100%;
}
.video-item{
    position: relative;
}
.video-item::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(7, 7, 7, 0.411);
}
.video-main{
    position: relative;
}
.video-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.video-icon button{
    height: 100px;
    width: 100px;
    background-color: rgb(226, 222, 220);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    outline: none;
    border: none;
}
.video-icon button i{
    font-size: 30px;
    color: #a43de4;
}
.video-icon h4{
    padding-top: 30px;
    font-size: 32px;
    font-weight: 600;
    color: #a34dd8;
}
/* ==================Counter Part Start Here=============== */
#counter{
    margin-top: -100px;
    background-color: #c58bea;
    padding-top: 220px;
    padding-bottom: 125px;
}
.counter-item{
    text-align: center;
    color: #fff;
}
.counter-item h3{
    font-size: 35px;
    font-weight: 700;
}
.counter-item h4{
    padding-top: 12px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
/* ==================Testimonial Part Start Here=============== */
#testimonial{
    padding-top: 120px;
}
#testimonial .sec-heading{
    padding-bottom: 60px;
}
.testi-item-main{
    padding: 30px 170px;
    background-color: #c58bea;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    position: relative;
}
.testi-item{
    margin: 0px 0px;
    text-align: center;
}
.testi-img-main{
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.testi-img{
    height: 90px;
    width: 90px;
    background-color: #c58bea;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testi-rating{
    position: absolute;
    top: 0;
    right: -50px;
    padding: 8px 10px;
    background-color: #fff;
    font-size: 18px;
    color: #ffba00;
}
.testi-con{
    text-align: center;
    color: #fff;
}
.testi-con p{
    padding-top: 25px;
    color: #fff
}
.testi-con h3{
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
    text-transform: capitalize;
}
.testi-con h4{
    font-size: 14px;
    font-weight: 500;
    padding-top: 11px;
    padding-bottom: 5px;
}
.testi-prev{
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    cursor: pointer;
}
.testi-next{
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    cursor: pointer;
}
.testi-arrows i{
    color: #c58bea;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.testi-arrows:hover{
    background-color: #9047c9;
}
.testi-arrows:hover i{
    color: #fff;
}
/* ==================Package Part Start Here=============== */
#package{
    padding-top: 100px;
    padding-bottom: 120px;
}
.package-item{
    text-align: center;
    margin-top: 60px;
    background-color: rgba(231, 231, 230, 0.294);
    border-radius: 8px;
    padding: 60px 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.pack-name{
    background-color: #faf6fd;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.pack-name h3{
    font-size: 24px;
    font-weight: 600;
    color: #c58bea;
    text-transform: uppercase;
    padding: 10px 0;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.pack-rate h3{
    font-size: 32px;
    font-weight: 600;
    color: #c58bea;
    padding: 32px 0;
    position: relative;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.pack-rate h3 span{
    font-size: 16px;
}
.pack-rate h3::after{
    position: absolute;
    left: 50%;
    bottom: 0;
    content: "";
    height: 2px;
    width: 62px;
    background-color: #c0c0c0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.package-item ul li{
    padding-top: 23px;
    font-size: 16px;
    font-weight: 400;
    color: #444;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.pack-btn{
    margin-top: 75px;
    margin-bottom: 18px;
}
.package-item:hover{
    background-color: #c58bea;
}
.package-item:hover .pack-name{
    background-color: #d3a8ef;
}
.package-item:hover .pack-name h3{
    color: #fff;
}
.package-item:hover .pack-rate h3{
    color: #fff;
}
.package-item:hover .pack-rate h3::after{
    background-color: #fff;
}
.package-item:hover ul li{
    color: #fff;
}
.package-item:hover .pack-btn a{
    background-color: #fff;
    color: #c58bea;
}
/* ==================Subscribe Part Start Here=============== */
#subscribe{
    margin-bottom: 120px;
}
.subscribe-main{
    display: flex;
    align-items: center;
    background-color: #c58bea;
    padding: 60px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.subscribe-con{
    width: 50%;
}
.subscribe-con h3{
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    line-height: 46px;
}
.subscribe-btn{
    width: 50%;
    text-align: right;
}
.subscribe-btn .cmn-btn a{
    background-color: #fff;
    color: #c58bea;
}
/* ==================Footer Part Start Here=============== */
#footer{
    background-color: #151618;
    padding-top: 80px;
}
.footer-nav ul li{
    display: inline-block;
    padding: 45px 40px;
}
.footer-nav ul li a{
    font-size: 22px;
    font-weight: 500;
    color: #606264;
    text-transform: capitalize;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.footer-nav ul li a:hover{
    color: #c58bea;
}
.footer-social{
    display: flex;
    justify-content: center;
    padding-bottom: 55px;
}
.footer-social-item{
    height: 50px;
    width: 50px;
    background-color: #303133;
    margin: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.footer-social-item a{
    padding: 7px;
}
.footer-social-item a i{
    color: #737375;
    font-size: 22px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.footer-social-item:hover{
    background-color: #c58bea;
    color: #fff;
}
.footer-social-item:hover a i{
    color: #fff;
}
.footer-copyright{
    padding: 20px  ;
    border-top: 2px solid #606264;
}
.footer-copyright h4{
    font-size: 16px;
    font-weight: 500;
    color: #606264;
}
.footer-copyright h4 a{
    color: #c58bea;
    font-weight: 700;
}