@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?77a8be7f8af454226553ea9935668660") format("truetype"),
url("./flaticon.woff?77a8be7f8af454226553ea9935668660") format("woff"),
url("./flaticon.woff2?77a8be7f8af454226553ea9935668660") format("woff2"),
url("./flaticon.eot?77a8be7f8af454226553ea9935668660#iefix") format("embedded-opentype"),
url("./flaticon.svg?77a8be7f8af454226553ea9935668660#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-data:before {
    content: "\f101";
}
.flaticon-computer:before {
    content: "\f102";
}
.flaticon-open-box:before {
    content: "\f103";
}
.flaticon-rocket-ship:before {
    content: "\f104";
}
.flaticon-promotion:before {
    content: "\f105";
}
.flaticon-mail:before {
    content: "\f106";
}
